<div>
  <div><p><b>ID: </b>{{id}}</p></div>
  <div><p><b>Title: </b>{{title}}</p></div>
  <div><p><b>ISBN: </b>{{isbn}}</p></div>
  <div><p><b>Page Count: </b>{{page}}</p></div>
  <div><p><b>Publish Date: </b>{{date}}</p></div>
  <div><p><b>Thumbnail URL: </b>{{url}}</p></div>
  <div><p><b>Short Description: </b>{{short}}</p></div>
  <div><p><b>Long Description: </b>{{long}}</p></div>
  <div><p><b>Status: </b>{{status}}</p></div>
  <div><p><b>Authors: </b>{{authors}}</p></div>
  <div><p><b>Categories: </b>{{categories}}</p></div>
</div>